#tiptext {
    font-size: 40px;
    font-weight: 300;
}
#tiptext2 {
    font-size: 35px;
    font-weight: 300;
}
#list {
    margin:20px 0 0 50px;
    padding: 1px;
    width: 400px;
    box-shadow: inset black 0px 0px 0px 1.3px;
}
#list>div {
    margin: 10px 10px 10px 30px;
}
#list>div>span {
    float: right;
    margin-right: 10px;
}
a {
    color: #3498db;
}